<section class="promise">
    <div class="container">
        <div class="promise-body">
            <h1 class="promise-title">Automated scheduling</h1>
            <ul class="promise-list">
                <li class="promise-item">Saving time and money</li>
                <li class="promise-item">Balanced workload distribution</li>
                <li class="promise-item">
                    Creating an optimal shift schedule for any number of
                    employees
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="opportun">
    <div class="container">
        <div class="opportun-body">
            <h2 class="opportun-title">Features</h2>
            <ul class="opportun-list">
                <li class="opportun-item">
                    <div class="opportun-wrapper">
                        <div class="opportun-picture">
                            <span
                                class="opportun-icon opportun-icon-one"
                            ></span>
                        </div>
                        <h3 class="opportun-midtitle">Workload distribution</h3>
                        <h4 class="opportun-subtitle">Shift planning</h4>
                        <ul class="opportun-sublist">
                            <li class="opportun-subitem">
                                <span class="opportun-text"
                                    >Customizable shift templates</span
                                >
                            </li>
                            <li class="opportun-subitem">
                                <span class="opportun-text"
                                    >Shift swaps between employees</span
                                >
                            </li>
                            <li class="opportun-subitem">
                                <span class="opportun-text"
                                    >Holidays and special days</span
                                >
                            </li>
                            <li class="opportun-subitem">
                                <span class="opportun-text">Open shifts</span>
                            </li>
                            <li class="opportun-subitem">
                                <span class="opportun-text"
                                    >Labor laws compliance</span
                                >
                            </li>
                            <li class="opportun-subitem">
                                <span class="opportun-text"
                                    >Calendar synchronization</span
                                >
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="opportun-item">
                    <div class="opportun-wrapper">
                        <div class="opportun-picture">
                            <span
                                class="opportun-icon opportun-icon-thue"
                            ></span>
                        </div>
                        <h3 class="opportun-midtitle">Manage and control</h3>
                        <h4 class="opportun-subtitle">Employee management</h4>
                        <ul class="opportun-sublist">
                            <li class="opportun-subitem">
                                <span class="opportun-text"
                                    >Tasks Assignment</span
                                >
                            </li>
                            <li class="opportun-subitem">
                                <span class="opportun-text"
                                    >Create checklists</span
                                >
                            </li>
                            <li class="opportun-subitem">
                                <span class="opportun-text"
                                    >Tracking tardiness</span
                                >
                            </li>
                            <li class="opportun-subitem">
                                <span class="opportun-text"
                                    >Comparison of scheduled and completed
                                    tasks</span
                                >
                            </li>
                            <li class="opportun-subitem">
                                <span class="opportun-text">
                                    Hours, salary and vacation/sick days reports
                                </span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="opportun-item">
                    <div class="opportun-wrapper">
                        <div class="opportun-picture">
                            <span
                                class="opportun-icon opportun-icon-three"
                            ></span>
                        </div>
                        <h3 class="opportun-midtitle">Scale</h3>
                        <h4 class="opportun-subtitle">
                            Integrations and unlimited access
                        </h4>
                        <ul class="opportun-sublist">
                            <li class="opportun-subitem">
                                <span class="opportun-text"
                                    >3rd-party integrations</span
                                >
                            </li>
                            <li class="opportun-subitem">
                                <span class="opportun-text"
                                    >24/7 access from any device with Internet
                                    access</span
                                >
                            </li>
                            <li class="opportun-subitem">
                                <span class="opportun-text"
                                    >Notifications system</span
                                >
                            </li>
                            <li class="opportun-subitem">
                                <span class="opportun-text">Versatility</span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="opportun-item">
                    <div class="opportun-wrapper">
                        <div class="opportun-picture">
                            <span
                                class="opportun-icon opportun-icon-four"
                            ></span>
                        </div>
                        <h3 class="opportun-midtitle">Plan and forecast</h3>
                        <h4 class="opportun-subtitle">
                            Estimates and forecast
                        </h4>
                        <ul class="opportun-sublist">
                            <li class="opportun-subitem">
                                <span class="opportun-text"
                                    >Break Planning</span
                                >
                            </li>
                            <li class="opportun-subitem">
                                <span class="opportun-text"
                                    >Vacation planning</span
                                >
                            </li>
                            <li class="opportun-subitem">
                                <span class="opportun-text"
                                    >Secure document storage</span
                                >
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="text-center">
            <a href=""><span class="white">Features</span></a>
            <a href=""><span class="white">Blog</span></a>
            <a href=""><span class="white">FAQ</span></a>
        </div>
        <div class="divider"></div>
        <div class="footer-bottom text-center">
            <small class="copyright">© 2022 Copyright. Created by Adnana Muresan.</small><br>
        </div>
    </div>
</footer>