.container{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    line-height: 1.42;
    color: #ebebeb;
    margin-top: 2%;
}

.row{
    display: flex;
    justify-content: center;
}