<div class="container-fluid">
    <div class="main">
        <div class="card col-sm-6">
            <div class="card-body">
                <!-- <h5>Welcome to Shifton</h5>
                <br> -->
                <form [formGroup]="profileForm" (ngSubmit)="editProfile(profileForm.value)">
                    <div class="row mb-2">
                        <div class="col">
                            <h6>Edit your profile</h6>
                        </div>
                    </div>
                    <!-- <div *ngIf="registerInvalid" class="alert alert-success">Success register!</div> -->
                    <div class="row">
                        <div class="form-group col-md">
                            <label for="editInputFirstName" class="control-label">First Name</label>
                            <input type="text" formControlName = "firstName" name ="first_name" placeholder="Enter first name" class="form-control">
                            <em *ngIf="!validateFirstName() && firstName.errors?.['required']">This field is required.</em>
                            <em *ngIf="firstName.dirty && firstName.errors?.['pattern']">This field must contain only alphabetical characters and at least 2 letters.</em>
                        </div>
                        <div class="form-group col-md">
                            <label for="editInputLastName" class="control-label">Last Name</label>
                            <input type="text" formControlName = "lastName" name="last_name" placeholder="Enter last name" class="form-control">
                            <em *ngIf="!validateLastName() && lastName.errors?.['required']">This field is required.</em>
                            <em *ngIf="lastName.dirty && lastName.errors?.['pattern']">This field must contain only alphabetical characters and at least 2 letters.</em>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md">
                            <label for="editInputEmail" class="control-label">Email</label>
                            <input type="email" formControlName = "email" name="email" placeholder="Enter e-mail" class="form-control">
                            <em *ngIf="!validateEmail() && email.errors?.['required']">This field is required.</em>
                            <em *ngIf="!validateEmail() && email.errors?.['email']">Please provide a valid email.</em>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md">
                            <label for="editInputUsername" class="control-label">Username</label>
                            <input type="text" formControlName = "userName" name="user_name" placeholder="Enter username" class="form-control">
                            <em *ngIf="!validateUserName() && userName.errors?.['required']">This field is required.</em>
                            <em *ngIf="userName.dirty && userName.errors?.['pattern']">This field must contain only alphabetical characters, number and at least 6 letters.</em>
                        </div>
                        <div class="form-group col-md">
                            <label for="editInputAge" class="control-label">Age</label>
                            <input type="number" formControlName = "age" name="age" placeholder="Enter age" class="form-control">
                            <em *ngIf="!validateAge() && age.errors?.['required']">This field is required.</em>
                            <em *ngIf="age.dirty && age.errors?.['min']">Minimum age is 6 years old.</em>
                            <em *ngIf="age.dirty && age.errors?.['max']">Minimum age is 130 years old.</em>
                        </div>
                    </div>
                    <div class="btn-edit">
                        <button type="submit" [disabled]= "profileForm.invalid" class="btn btn-success">Save</button>
                        <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>