<div class="container-fluid">
    <div class="main">
        <div class="card col-md-4">
            <div class="card-header">
                <h5>Change Password</h5>
            </div>
            <div class="card-body">
                <div *ngIf="updatePasswordInvalid" class="alert alert-danger">Error!Incorrect Password.</div>
                <form [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword(updatePasswordForm.value)">
                    <div class="input-group mt-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa-solid fa-key"></i>
                            </span>
                        </div>
                        <input type="password" formControlName="currentPassword" name="currentPassword" placeholder="Current password" class="form-control">
                        <em *ngIf="!validateCurrentPassword() && currentPassword.errors?.['required']">This field is required.</em>
                        <!-- <em *ngIf="newPassword.dirty && newPassword.errors?.['pattern']">Password must be at least 8 characters long contain a number, an uppercase letter and a special character.</em>  -->
                    </div>
                    <div class="input-group mt-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa-solid fa-key"></i>
                            </span>
                        </div>
                        <input type="password" formControlName="newPassword" name="newPassword" placeholder="New password" class="form-control">
                        <em *ngIf="!validateNewPassword() && newPassword.errors?.['required']">This field is required.</em>
                        <em *ngIf="newPassword.dirty && newPassword.errors?.['pattern']">Password must be at least 8 characters long contain a number, an uppercase letter and a special character.</em> 
                    </div>
                    <div class="btn-submit">
                        <button type="submit" [disabled]="updatePasswordForm.invalid" class="btn btn-success">Change password</button>
                        <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>